source/**
work/**
*.iso

experimental/glibc-toybox/source/**
experimental/glibc-toybox/work/**
experimental/glibc-toybox/*.iso

experimental/musl-busybox/source/**
experimental/musl-busybox/work/**
experimental/musl-busybox/*.iso

experimental/musl-toybox/source/**
experimental/musl-toybox/work/**
experimental/musl-toybox/*.iso

